@charset "UTF-8";

body {
	width: 100%;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.background-img {
	background: url(../images/pinecone-closeup.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.navbar {
	border: none;
    border-radius: 0;
	background-color: rgba(0,0,0,0.5);
}

.logo {
	width: 27%;
	margin-left: 25px;
}

.navbar-default .navbar-toggle {
	border: none;
	padding: 30px;
}


.navbar-default .navbar-toggle:hover {
	background-color: rgba(41,41,41,.5);
	
}

.navbar-default .navbar-toggle:visited {
	background-color: #ffffff;
}

span.icon-bar {
	margin-bottom: 7px;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: rgba(0,0,0,0.5);
	
}

.navbar-default .navbar-nav > li > a {
	color: lightgray;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 2px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #ffffff;
	background-color: rgba(46,46,46,0.70);
}


.signature {
	text-align: center;
	padding-top: 30%;
	height: auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;   
}

.photographer {
	color: #ffffff;
	text-align: center;
	font-size: 3rem;
	margin-top: -20px;
	left: 0;
	right: 0;
}

footer {
	border: none;
    border-radius: 0;
    background-color: rgba(0,0,0,0.5);
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	color: gray;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer p {
	font-size: 1.4rem;
	letter-spacing: 2px;
}



/* about page styles */

.boca-background {
	background: url(../images/downtown-boca-gradient.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	
}


.about-copy {
	color: #ffffff;
	text-align: justify;
	padding-top: 13%;
	font-size: 1.2rem;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 100px;
	letter-spacing: .8px;
	line-height: 23px;
}



/* work page */

#images {
    width: 400px;
    height: 250px;
    overflow: hidden;
    position: relative;
	padding-top: 100px;
    margin: 60px auto;
}

#images img {
    width: 400px;
    height: 250px;

    position: absolute;
    top: 0;
    left: -400px;
}

#images img:first-child {
    left: 0;
}

#slider {
	text-align: center;
}

#slider a {
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgba(41,41,41,.5);
    padding: 4px 10px;
    color: #ffffff;
}

#slider a:hover {
    background-color: #383838;
	color: white;
}

#images img {
    z-index: 1;
    opacity: 0;

    transition: all linear 1s;
    -o-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -webkit-transition: all linear 1s;
}

#images img:target {
    left: 0;
    z-index: 9;
    opacity: 1;
}




/* contact page */

.contact-title {
	text-align: center;
	color: #ffffff;
	font-size: 3rem;
	letter-spacing: 2px;
	padding-top: 30px;
	padding-bottom: 20px;
}

form {
	margin-left: 10px;
	margin-right: 10px;
}

.btn-default {
	margin: auto;
	display: block;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: rgba(18,18,18,0.60);
	color: lightgray;
	letter-spacing: 2px;
}

.btn-default:hover {
	background-color: rgba(41,41,41,.5);
	color: #ffffff;
}

.social-media {
	text-align: center;
	margin-top: 30px;
	color: lightgray;
	position: fixed;
	bottom: 75px;
	width: 100%;
	display: inline-block;
}

.fa {
	padding-right: 13px;
	
}

a.sm-icon  {
	color: lightgray;
}

a.sm-icon:hover {
	color: #fff;
}





/*** tablet & desktop styles ***/

/* tablet styles */

@media (min-width: 768px) and (max-width: 1023px) {
	
	.logo {
		width: 27%;
/*		margin: auto;*/
/*		display: block;*/
		margin-left: 40px;	
	}
	
	.container-fluid {
		padding: 0;
	}
		
	.navbar-default .navbar-collapse {
		padding: 30px;
	}
	
	.navbar-nav {
		float: right;
		right: 40px;
		margin-right: 14px;
	}
	
	.signature {
		padding-top: 40%;
	}
	
	.photographer {
		font-size: 5rem;
	}
	
/*	work page tablet styles */
	
	#images {
		width: 682px;
		height: 443px;
		margin-top: 20%;
	}
	
	#images img {
		width: 682px;
		height: 443px;
	}
	
	
/* about page tablet styles	*/
	
	.about-copy {
		font-size: 2.2rem;
		letter-spacing: 2px;
		line-height: 35px;
		padding-left: 70px;
		padding-right: 70px;
	}
	
/* contact page tablet styles */
	
	form {
		margin-left: 70px;
		margin-right: 70px;
	}
	
	.contact-title {
		padding-top: 60px;
	}
}


/* desktop styles */

@media (min-width: 1024px) and (max-width: 1443px) {
	.logo {
		width: 30%;
		margin: auto;
/*		display: block;*/
		
	}
	
	.container-fluid {
		padding: 0;
	}
		
	.navbar-default .navbar-collapse {
		padding: 30px;
	}
	
	.navbar-nav {
		float: right;
		right: 40px;
		margin-right: 14px;
	}
	
	.signature {
		padding-top: 17%;
	}
	
	.photographer {
		font-size: 5rem;
	}
	
/*	work page smaller desktop styles */
	
	#images {
		width: 682px;
		height: 443px;
		margin-top: 5%;
	}
	
	#images img {
		width: 682px;
		height: 443px;
	}
	
	
/* about page smaller desktop styles */
	
	.about-copy {
		font-size: 1.6rem;
		letter-spacing: 2px;
		line-height: 35px;
		padding-left: 100px;
		padding-right: 100px;
	}
	
/* contact page smaller desktop styles */
	
	form {
		margin-left: 300px;
		margin-right: 300px;
	}
	
	.contact-title {
		padding-top: 60px;
	}
	
	.btn-default {
		width: 23%;
	}
}


@media (min-width: 1440px) and (max-width: 1683px){
	.logo {
		width: 30%;
		margin: auto;
		
	}
	
	.container-fluid {
		padding: 0;
	}
		
	.navbar-default .navbar-collapse {
		padding: 30px;
	}
	
	.navbar-nav {
		float: right;
		right: 40px;
		margin-right: 14px;
	}
	
	.signature {
		padding-top: 16%;
		width: 85%;
		margin: auto;
		display: block;
	}
	
	.photographer {
		font-size: 6rem;
		letter-spacing: 4px;
		margin-top: -54px;
	}
	
/*	work page medium desktop styles */
	
	#images {
		width: 682px;
		height: 443px;
		margin-top: 5%;
	}
	
	#images img {
		width: 682px;
		height: 443px;
	}
	
	
/* about page medium desktop styles	*/
	
	.about-copy {
		font-size: 1.6rem;
		letter-spacing: 2px;
		line-height: 35px;
		padding-left: 250px;
		padding-right: 250px;
	}
	
/* contact page medium desktop styles */
	
	form {
		margin-left: 450px;
		margin-right: 450px;
	}
	
	.contact-title {
		padding-top: 60px;
	}
	
	.btn-default {
		width: 23%;
	}
}



@media (min-width: 1684px) and (max-width: 1919px) {
	.logo {
		width: 30%;
		margin: auto;
		
	}
	
	.container-fluid {
		padding: 0;
	}
		
	.navbar-default .navbar-collapse {
		padding: 30px;
	}
	
	.navbar-nav {
		float: right;
		right: 40px;
		margin-right: 14px;
	}
	
	.signature {
		padding-top: 12%;
		width: 85%;
		margin: auto;
		display: block;
	}
	
	.photographer {
		font-size: 6rem;
		letter-spacing: 4px;
		margin-top: -54px;
	}
	
/*	work page md/lg desktop styles */
	
	#images {
		width: 682px;
		height: 443px;
		margin-top: 5%;
	}
	
	#images img {
		width: 682px;
		height: 443px;
	}
	
	
/* about page md/lg desktop styles	*/
	
	.about-copy {
		font-size: 1.6rem;
		letter-spacing: 2px;
		line-height: 35px;
		padding-left: 250px;
		padding-right: 250px;
	}
	
/* contact page md/lg desktop styles */
	
	form {
		margin-left: 450px;
		margin-right: 450px;
	}
	
	.contact-title {
		padding-top: 60px;
	}
	
	.btn-default {
		width: 23%;
	}
}



@media (min-width: 1920px) and (max-width: 2559px) {
	.logo {
		width: 30%;
		margin: auto;
		
	}
	
	.container-fluid {
		padding: 0;
	}
		
	.navbar-default .navbar-collapse {
		padding: 30px;
	}
	
	.navbar-nav {
		float: right;
		right: 40px;
		margin-right: 14px;
	}
	
	.signature {
		padding-top: 12%;
		width: 85%;
		margin: auto;
		display: block;
	}
	
	.photographer {
		font-size: 6rem;
		letter-spacing: 4px;
		margin-top: -54px;
	}
	
/*	work page lg desktop styles */
	
	#images {
		width: 803px;
		height: 520px;
		margin-top: 5%;
	}
	
	#images img {
		width: 803px;
		height: 520px;
	}
	
	
/* about page lg desktop styles	*/
	
	.about-copy {
		font-size: 1.6rem;
		letter-spacing: 2px;
		line-height: 35px;
		padding-left: 550px;
		padding-right: 550px;
	}
	
/* contact page lg desktop styles */
	
	form {
		margin-left: 650px;
		margin-right: 650px;
	}
	
	.contact-title {
		padding-top: 150px;
	}
	
	.btn-default {
		width: 23%;
	}
}


@media (min-width: 2560px) {
	.logo {
		width: 30%;
		margin: auto;
		
	}
	
	.container-fluid {
		padding: 0;
	}
		
	.navbar-default .navbar-collapse {
		padding: 30px;
	}
	
	.navbar-nav {
		float: right;
		right: 40px;
		margin-right: 14px;
	}
	
	.signature {
		padding-top: 16%;
		width: 71%;
		margin: auto;
		display: block;
	}
	
	.photographer {
		font-size: 6rem;
		letter-spacing: 4px;
		margin-top: -54px;
	}
	
/*	work page xlg desktop styles */
	
	#images {
		width: 1003px;
		height: 650px;
		margin-top: 5%;
	}
	
	#images img {
		width: 1003px;
		height: 650px;
	}
	
	
/* about page xlg desktop styles	*/
	
	.about-copy {
		font-size: 2.6rem;
		letter-spacing: 3px;
		line-height: 42px;
		padding-left: 650px;
		padding-right: 650px;
	}
	
/* contact page lg desktop styles */
	
	form {
		margin-left: 950px;
		margin-right: 950px;
	}
	
	.contact-title {
		padding-top: 250px;
	}
	
	.btn-default {
		width: 23%;
	}
}
